@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

body {
  margin: 0;
  font-family: "Space Mono", Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
